#map {
        height: 97vh;

}
.largo {
    height: 100vh;
}
div#auth-container{
    width: 100%;
}
img#user-img{
    position: absolute;
    width: 50px;
    border-radius: 50px;
    z-index: 1;
    margin: 15px;
}