<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% block head_content %}{% endblock %}
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="h-100">
    <nav>
        
    </nav>
    <div class="container-fluid">
        <div class="row h-100 justify-content-center align-items-center largo">
            <div id="auth-container">
                {% block container %}{% endblock%}
            </div>
        </div>
    </div>
    <!-- javascript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    {% block script_block %}{% endblock %}
</body>

</html>