{% extends "base.html" %}

{% block head_content %}
<title>Crasterras</title>
{% endblock %}
    
{% block container %}
{% load static %}
 <div class="row">
     <div class="col-lg-9">
        <a href="#">
            <img id="user-img" src="{% static 'img/user_proof.jpg' %}">
        </a>
         <div id="map"></div>
    </div>
    <div class="col-lg-3">
        {{crop_list.0.name}}<br>
        {{crop_list.0.sensor.latitude}}
    </div>
 </div>
{% endblock %}
{% block script_block %}
 <script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 19.6930200, lng: -89.0503700 },
            zoom: 8,
            mapTypeId: 'hybrid',
            streetViewControl: false,
            mapTypeControl: false,
            fullscreenControl: false,
        });
        var uluru = {lat: 20.9621201, lng: -89.59549799999999}
        marker = new google.maps.Marker({
            icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
            position: uluru,
            draggable: false,
            map: this.map 
        })
        marker.addListener('click', clickedCulture)
        function clickedCulture () {
            startMarkerAnimation(marker)
        }
        function startMarkerAnimation(marker) {
          if (marker.getAnimation() !== null) {
            marker.setAnimation(null)
          } else {
            marker.setAnimation(google.maps.Animation.BOUNCE)
          }
            return true
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoKEVrCqMF3tRtAdswCrGKRe0Bz8drOv4&callback=initMap" async defer></script>
{% endblock %}